@model PulseNetwork.Models.Workspace
@using PulseNetwork.Utils
@using Microsoft.AspNet.Identity
@{
    BusinessLogic bl = new BusinessLogic();
}

<div>
    <h4>Workspace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creator.FullName)
        </dd>

        <dt>
            Workspace Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
        @Html.ActionLink("Leave Workspace", "RemoveUser", new { id = @User.Identity.GetUserId(), workspaceid = Model.id })
        </dt>
    </dl>

    @using (Html.BeginForm("AddUser", "Workspaces", new { id = Model.id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />



            <div class="form-group">
                <div class="col-md-10">
                    <h4>Add new user (Username):</h4>
                    @Html.Editor("username")
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>





        </div>

    }


    <h3>Posts:</h3>
    @foreach (var item in Model.posts)
    {
                    <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/Content/img/avatar.png" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    @Html.DisplayFor(modelItem => item.poster.FullName)

                </h4>
                @Html.DisplayFor(modelItem => item.postDetails)
            </div>
        </div>



    }

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("Create", "WorkspacePosts", new { workspaceid = Model.id })
    }

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                Users in space:
            </th>
            <th>
                Remove
            </th>
            <th></th>
        </tr>

        @foreach (var item in bl.FindUsersInWorkspace(Model.id))
        {
            if (!(item.Id.Equals(User.Identity.GetUserId()))) { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveUser", new { id = item.Id, workspaceid = Model.id })
                </td>
                
            </tr>
        }
        }

    </table>
