@model PulseNetwork.Models.Profile
@using PulseNetwork.Utils
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Profile";
    var bl = new BusinessLogic();
    var user = Model.ApplicationUser;
    var skills = bl.UserSkillList(user.Id);
}

<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="http://snipplicious.com/css/bootstrap-3.2.0.min.css">
    <link rel="stylesheet" type="text/css" href="http://snipplicious.com/css/font-awesome-4.1.0.min.css">
    <script src="http://snipplicious.com/js/jquery.js"></script>
    <script src="http://snipplicious.com/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.canvasjs.js"></script>
    <script src="~/Scripts/jquery.canvasjs.min.js"></script>
        <script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Skills"
            },
            data: [//array of dataSeries
              { //dataSeries object
                  type: "column",
                  dataPoints: @Html.Raw(ViewBag.DataPoints)
                  }
            ]
        });
        chart.render();
    }
</script>
    
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="~/Content/img/avatar.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
                            @if (User.Identity.IsAuthenticated) { 
                            if(User.Identity.GetUserId().Equals(Model.UserID)){
                            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserID })
                            }
                            }
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2>@Html.DisplayFor(model => model.ApplicationUser.FullName)</h2>
                            <p><strong>Job Title: </strong> @Html.DisplayFor(model => model.JobTitle) </p>
                            <p><strong>Company: </strong>@Html.DisplayFor(model => model.Company) </p>
                            <p><strong>Total Points:</strong> @Html.DisplayFor(model => model.ApplicationUser.ExperiencePoints)</p>
                            <p><strong>Level: </strong> @Html.DisplayFor(model => model.ApplicationUser.Level)</p>
                            
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-6">
                            <h2 align="center"><strong>Questions </strong></h2>
                            <p><small></small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span>@Html.ActionLink("Questions", "UserQuestions", "Question", new { id = Model.ApplicationUser.Id }, null)</button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-6">
                            <h2 align="center"><strong>Answers</strong></h2>
                            <p><small></small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span>@Html.ActionLink("Answers", "UserAnswers", "Answer", new { id = Model.ApplicationUser.Id }, null) </button>
                        </div>
                        <!--/col-->
                        >
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->


        </div>
        <!--/row-->
    </div>
    <!--/container-->
    <!--Bio-->
    <div class="panel panel-default">
        <div class="panel-heading">Bio</div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Bio)

        </div>
    </div>
    <!--/Bio-->
    

     <div id="chartContainer" style="height: 300px; width: 100%;"></div>
   
</body>
</html>




